body {
	background: url("https://cdn.suwalls.com/wallpapers/vector/lego-breaking-bad-29291-1920x1080.jpg");	
	
	
}

h1 {
	font-family: 'Bangers', cursive;
	color: white;
	text-align: center;
	font-size: 114px;
	text-shadow: 1px 1px grey;
}

p, h2, p1, p2, p3 {
	color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}

.results {
	width: 100%;
	text-align: center;
	
}

.mineral-image {
      width: 33%;
      height: 33%;
    }

    #minerals {

    width: 40%;
    align-content: right;
    position: absolute;
    bottom: 0px;
    right: 28%;
}

hr {

	opacity: 0.2;
}

.winimage {
	width: 480px;
    height: 280px;
    display: none;
    left: 37%;
    position: absolute;
    text-align: center;
    color: white;
    
}

.lossimage {

	width: 20%;
    height: 500px;
    display: none;
    position: absolute;
    bottom: 0px;
    left: 80%;

}

#hank {
	width: 100%;
    height: 99%;
}

@media screen and (max-width: 980px) {

	#minerals {
		width: 40%;
	}

	.mineral-image{
		width: 33%;
		height: 33%;
	}

	
}
    

